form(action="/",method="post")
    fieldset
        legend Options
        label.paragraph-count
           input(type="text", name="paragraph-count", value=paragraphCount)
           | Number of Paragraphs
        label.start-with
            input(type="checkbox", name="start-with", checked=startWith)
            | Start with "Lucas ipsum dolor sit amet..."
        ol.term-level
            li
                label.term-level-padawan(title="Just the most common terms")
                    input(type="radio", name="term-level", value="0", checked=termLevel='padawan')
                    | Padawan
            li
                label.term-level-grand-master(title="More obscure references from the extended universe")
                    input(type="radio", name="term-level", value="5", checked=termLevel=='grand-master')
                    | Jedi Grand Master
        input(type="submit", value="Generate")
each paragraph in paragraphs
    p= paragraph
