!!! 5
html
    head
        title Star Trek Ipsum
        link(
            rel="Stylesheet"
            href="http://fonts.googleapis.com/css?family=Carter+One")
        link(
            rel="Stylesheet" 
            href="/styles.css")
    body(id=pageId)
        div#container
            header#header
                h1: a(href="/") Star Trek Ipsum
                a(href="http://github.com/bdukes/star-wars-ipsum")
                    img(
                        style="position:absolute;top:0;right:0;border:0;", height="30", 
                        src="https://raw.githubusercontent.com/gauravghongde/social-icons/9d939e1c5b7ea4a24ac39c3e4631970c0aa1b920/SVG/Color/Github.svg", 
                        alt="Fork the original on GitHub")
                a(href="http://github.com/tomthetornado/star-trek-ipsum")
                    img(
                        style="position:absolute;top:0;right:0;border:0;", height="30", 
                        src="https://raw.githubusercontent.com/gauravghongde/social-icons/9d939e1c5b7ea4a24ac39c3e4631970c0aa1b920/SVG/Color/Github.svg", 
                        alt="Fork me on GitHub")
                p#intro
                    | This idea was gratefully stolen/forked from
                    a(href="https://star-wars-ipsum.herokuapp.com/") Star Wars Ipsum
                    |, which in turn was gratefully stolen from
                    a(href="http://baconipsum.com") Bacon Ipsum
                    | .
            != body
            footer
                ul
                    li: a(href="/") Home
                    li: a(href="/disclaimer") Disclaimer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
        script(src="/ZeroClipboard.js")
